div.box1{
    width: 100px;
    height: 100px;
    background-color: red;
}

div.box2{
    width: 100px;
    height: 100px;
    background-color: green;
}

div.box3{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
