h1{
    margin-top: 55px;
}



div.nav{
    width: 100%;
    height: 50px;
    background-color: coral;
    position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

div.con{
    background-color: rgb(58, 39, 39);
    position: relative;
    width: 100%;
    height: 300px;
}
div.con2
{
    background-color: rgb(172, 133, 133);
    width: 400px;
    height: 200px;
    position: sticky;
    top: 60px;
 
}



div.box1{
    width: 100px;
    height: 100px;
    background-color: rgb(179, 15, 15);
    position: absolute;
    right: 50px;
}

div.box2{
    width: 100px;
    height: 100px;
    background-color: green;
}

div.box3{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}